<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/tailwind.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../static/js/actions.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body dir="ltr">
        <header class="sticky top-0 bg-gray-400 p-5">
            <div class="flex items-center align-middle">
                <p>Library Management</p>
                <input type="text" id="search-bar" class="w-3/4 border border-gray-300 rounded-md pl-2 pr-10 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Search...">
                <button class="bg-blue-500 hover:bg-blue-600 text-white rounded-r-md px-4 py-2 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 15a7 7 0 100-14A7 7 0 008 15zm8.707 2.293a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 111.414 1.414L13.414 10l3.293 3.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                    </svg>
                </button>
                <div class="">
                    <select id="filter-dropdown" class="p-2 border border-gray-300 rounded-md">
                        <option value="" selected>All</option>
                        <option value="fiction">Fiction</option>
                        <option value="non-fiction">Non-Fiction</option>
                    </select>
                </div>
            </div>
        </header>
        <div class="flex min-h-screen">
            <div class="w-1/4 bg-blue-300 p-4">
                <ul class="p-4">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </div>
            <div class="w-3/4 container mx-4 my-4">
                
                <div>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- <script src="" async defer></script> -->
        <footer class="sticky bottom-0 bg-gray-400 p-5">Copyright 2023</footer>
    </body>
</html>
