{% extends "base.html" %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {% for book in books %}
        <div class="relative">
            <a href="{{ book.url }}" target="_blank">
                <img src="{{ book.image_url }}" alt="{{ book.title }}" class="w-full">
            </a>
            <div class="bg-gray-900 bg-opacity-50 absolute bottom-0 left-0 right-0 px-4 py-2 text-gray-100 opacity-0 transition-opacity duration-300">
                <h3 class="text-lg font-semibold">{{ book.title }}</h3>
                <p class="text-sm">{{ book.author }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
